extends layout 

block content
	h1=title
	ul
		each item, index in results
			- humandate = new Date(item.created)
			li= item.ISBN + ":" + item.sellerEmail + ":"+ item.created + ":" + item.collegeIDs + "and index is " + index