extends layout

block content
	.container(style="margin:10px auto;").light

		h1(align="center") this is where you sell #{name} 
		.col-md-4
		.col-md-4
			form(action="save",method="post",id="iteminfo",padding-top="5cm").pure-form
				label Name : 
					<input type="text" name="name" placeholder="hesru yenu ?" required><br>
				label ISBN : 
					<input type="text" name="isbn" placeholder="ISBN without -"><br>
				label Contact : 
					<input type="text" name="contact" placeholder="10 digit contact" required><br>
				label Email :
					input(type="email" name="email" placeholder="your@email.com" required)
				
				label College : 
					// TRB: had missed to connect this select with the form , solved by giving form attribute the value of form ID .
					// TRB: A select can be outside a form   
					select(name="collegeID",form="iteminfo")
						option(value="1") PESIT
						option(value="2") PESU
						option(value="3") PESIT
						option(value="4") PESHM
						option(value="5") BIT
						option(value="6") BMSCE 
				label
					<input type="submit"  value="SELL ! "><br>
		.col-md-4